.home {
    height: 100vh;
    background: url("../images/jhk-1580051058614.jpg");
    background-size: cover;
    background-position: center
}

.home .header {
    text-align: right;
}

.home .headerButton {
    display: inline;
    margin-right: 10px;
}

.home .headerDropdown {
    display: inline;
    margin-right: 50px;
}

.home .main {
    color: #ffffff;
    font-size: xx-large;
}