.feeKind {}

.feeKind .el-dialog--center .el-dialog__body {
    padding-bottom: 0px;
}

.feeKind .el-form-item {
    display: flex;
    justify-content: center;
}

.feeKind .el-table .cell {
    white-space: pre-line;
}